[Unit]
Description=Cloudlog (Docker Compose)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/cloudlog
ExecStart=/usr/bin/docker compose -f docker-compose.cloudlog.prod.yml up -d
ExecStop=/usr/bin/docker compose -f docker-compose.cloudlog.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
